<!doctype html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
  <div class="HeaderSmall">
    <span class="AppTitleSmall">Invent</span>|
    <span class="company_name">{{user.first_name}}</span>
  </div>

  <div class="NavBar">
    <a href="{% url 'invent-menu' %}">
      <div class="NavBarMenu NavBarItem NavBarOther">
        <i class="material-icons">more_horiz</i> Menu
      </div>
    </a>
    <div class="NavBarInventory NavBarItem NavBarCurrent">
      <i class="material-icons">view_module</i> Inventory
    </div>
    <a href="{% url 'invent-log' %}">
      <div class="NavBarLog NavBarItem NavBarOther">
        <i class="material-icons">view_stream</i> Logs
      </div>
    </a>
  </div>

  <div id="MasterInventory">

    <form action="add_item_form_submission" method="POST">
      <div class="InventoryCard">
        <div class="ItemName">ADD ITEM</div>

        <!--{% csrf_token %}-->
        <div class="FormRow">
          <label for="name"><i class="material-icons">assignment</i></label>
          <input type="text" name="name" class="InventoryInput" placeholder="Name" required />
        </div>

        <div class="FormRow">
          <label for="code"><i class="material-icons">texture</i></label>
          <input type="text" name="code" class="InventoryInput" placeholder="Item Code" required />
        </div>

        <div class="FormRow">
          <label for="price"><i class="material-icons">show_chart</i></label>
          <input type="text" name="price" class="InventoryInput" placeholder="Price" required />
        </div>

        <div class="FormRow">
          <label for="quantity"><i class="material-icons">border_all</i></label>
          <input type="text" name="quantity" class="InventoryInput" placeholder="Quantity" />
        </div>
        <input type="submit" class="SubmitButton">
      </div>
    </form>
    <!--{% for item in items %}-->
    <div class="InventoryCard">

      <div class="ItemName">{{item.name}}</div>
      <div class="ItemPrice">&#8377; {{item.price}}</div>
      <div class="ItemQuantity">{{item.quantity}}</div>
      <div class="ItemCode"># {{item.item_code}}</div>
      <div class="CardAction">
       <div class="DeleteOverSection">
        <a href="/delete/{{item.id}}">
        <div class="DeleteSection">
          <i class="material-icons">delete_forever</i>
          </div>
          </a>
        </div>
        <div class="AddAndSubtractSection">
          <a href="/add/{{item.id}}">
            <div class="AddSection">
              <i class="material-icons">add</i>
            </div>
          </a>
          <a href="/subtract/{{item.id}}">
            <div class="SubtractSection">
              <i class="material-icons">remove</i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--{% endfor %}-->

  </div>

</body>

</html>
