:root {
  --primary-color: #fff;
  --primary-color-inv: #101010;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #101010;
    --primary-color-inv: #fff;
  }
}

@font-face {
  font-family: "Product Sans";
  src: url("Product\ Sans\ Bold.ttf") format("ttf");
}

body {
  color: var(--primary-color-inv);
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Product Sans;
  font-size: 20px;

  padding: 0;
  padding-top: 25px;
  margin: 0;
}

h1 {
  font-family: Product Sans;
  font-size: 60px;

  margin: 0;
  padding: 0;
}

h2 {
  font-family: Product Sans;
  font-size: 40px;

  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color-inv);
  text-decoration: none;
}

.panel {
  width: 80%;

  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;

  border-radius: 60px;
  padding: 20px;
  margin: 0;
}

#panel1 {
  flex-direction: column;
}

#panel2 {
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
}

.socialSheet {
  color: var(--primary-color-inv);
  
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;
}

#profileCarousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 25px;
}

.profileComponent {
  border-radius: 100%;
  padding: 0 10px;

  max-width: 100px;
}

#profileHero {
  max-width: 200px;
}

.panelComponent {
  background-color: var(--primary-color);

  height: 150px;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;

  border-radius: 50px;
  padding: 20px;
  margin: 0 10px;
}

.panel > :first-child{
  margin-left: 0;
}

.panel > :last-child {
  margin-right: 0;
}


.panelIcon {
  border-radius: 40px;

  max-height: 100%;
}

.panelText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding: 20px;
}