body {
    color: #212121;
    background-color: #fff;
    background: url(Day.svg) no-repeat center center fixed;
    background-size: cover;

    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: 500;

    margin: 0;
}

h1 {
    font-size: 4em;
    font-weight: 600;

    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#intro {
    margin-top: 75px;
}